---
layout: default
title: Apprenez à coder
---

<!-- Home Jumbotron
================================================== -->
<section class="intro full-width">
    <div class="wrapintro">
        <h1>Entrepreneurs, apprenez à coder</h1>
        <h2 class="lead">"Créez et designez vos sites web, découvrez les APIs.
         Soyez techniques & autonomes grâce à nos workshops"</h2>
        <a href="https://www.meetup.com/fr-FR/Apprendre-le-developpement-web/events/" target="blank" class="btn btn-grad">Rejoins-Nous</a>

      <!-- <a class="typeform-share button" href="https://codedot.typeform.com/to/RXspbr" data-mode="popup" data-auto-open=true data-hide-headers=true data-hide-footer=true data-submit-close-delay="1" target="_blank"> </a> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>-->


   </div>
</section>

<!-- google search -->
 <div class="section-title">
        <h2><span>Un article en particulier ?</span></h2>

<script async src="https://cse.google.com/cse.js?cx=016288751832893148895:v80wcc3ajky"></script>
<div class="gcse-search"></div>
</div>
<!-- Featured
================================================== -->
<section class="featured-posts">

    <div class="section-title">
        <h2><span>A la une</span></h2>
    </div>

    <div class="row listfeaturedtag">

    {% for post in site.posts %}

        {% if post.module == true %}

            {% include module.html %}

        {% endif %}

    {% endfor %}

    </div>
</section>

<!-- Posts Index
================================================== -->
{% if paginator.previous_page %}
{% if paginator.previous_page > 0 %}
<div id="jumptopageof"></div>
{% endif %}
{% endif %}

<section class="recent-posts row">

    <div class="col-sm-4">
        {% include sidebar.html %}
    </div>

    <div class="col-sm-8">

        <div class="section-title">
            <h2><span>Nos articles</span></h2>
        </div>

        <div class="masonrygrid row listrecent">

            {% for post in paginator.posts %}

            {% unless post.featured == true %}
             {% unless post.courses == true %}
             {% unless post.module == true %}

                {% include postbox.html %}

            {% endunless %}
          {% endunless %}
       {% endunless %}

            {% endfor %}

        </div>

        <!-- Pagination -->
        <div class="bottompagination">

            <span class="navigation" role="navigation">

                {% include pagination.html %}

            </span>

        </div>

    </div>

</section>
<style>
.btn-grad {
  background-image: linear-gradient(to right, #e52d27 0%, #b31217 51%, #e52d27 100%)!important;
}
.btn-grad:hover {

  background-position: right center!important;

}
</style>
