<div class="sidebar">

        <div class="sidebar-section">
            <h5><span>Newsletter</span></h5>
            {% include newsletter.html %}
        </div>

        <div class="sidebar-section">
           <h5><span>Ventes des billets</span></h5>

           <div class="row">
          <div id="eventbrite-widget-container-82819420115"></div>

        <div style="width:100%; text-align:left;"><iframe src="https://eventbrite.com/tickets-external?eid=86799175671&ref=etckt" frameborder="0" height="308" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe><div style="font-family:Helvetica, Arial; font-size:12px; padding:10px 0 5px; margin:2px; width:100%; text-align:left;" ><a class="powered-by-eb" style="color: #ADB0B6; text-decoration: none;" target="_blank" href="https://www.eventbrite.com/">Powered by Eventbrite</a></div></div>
        </div>
</div>


        <!--<div class="sidebar-section">
             <h5><span>Podcast</span></h5>
            <p><span>Pour t'accompagner tout les jours,le temps d’un café ou d’une pause clope pour te faire réfléchir sur le métier de développeur.</span></p>
          <iframe height="550px" width="450px" frameborder="0" src="https://widget.ausha.co/index.html?showId=BxW2S9Mex0Vb&playlist=true&color=%2372238e&display=horizontal&v=2&mode=latest&height=400px"></iframe>
        </div>-->

</div>
